# Defaults from Google
BasedOnStyle: Google
---
Language: Cpp
# AlignConsecutiveAssignments: true
# AlignEscapedNewlines: Right

AlignOperands: true
AlignAfterOpenBracket: Align
#AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
# AlwaysBreakAfterReturnType: TopLevel
AllowShortIfStatementsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# FixNamespaceComments: true
# IncludeBlocks: Preserve
BinPackParameters: false
BinPackArguments: false
IndentWrappedFunctionNames: false
ReflowComments: true
SortIncludes: true
# SortUsingDeclarations: true
# SpaceAfterTemplateKeyword: true
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
---

